<div class='container'>
    <h1 class='row text-center'>{{title}}</h1>
    <h4 class='row text-center'>{{subtitle}}</h4>
    <expenses (updateTotal)=calculateTotal() class='row'></expenses>
    <div class='row text-center'>
        <h4 *ngIf='total > 0' class='col-xs-12'>
            Total: $<span>{{total}}</span>
        </h4>
        <h4 *ngIf='total === 0' class='col-xs-12'>
            Whoa, no expenses?
        </h4>
    </div>
    <div (click)='toggleNewExpenseForm()' class='row text-center icon-container'>
        <div class='add-icon' [ngClass]='{rotate: !isHidden}'></div>
        <h3>{{isHidden ? 'Add' : 'Cancel'}} new expense</h3>
    </div>
    <new-expense (calculateTotalAndToggleForm)=calculateTotalAndToggleForm() [ngClass]='{hidden: isHidden}' class='row text-center'></new-expense>
</div>