.title-container {
    margin: 60px 0;
}

.hidden { 
    display: none; 
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-icon {
    background-image: url('/assets/delete-icon.png');
    background-size: cover;
    height: 60px;
    width: 60px;
    margin-right: 20px;
    transform: rotate(45deg);
}

.rotate {
    transform: rotate(90deg);
}

ul {
    list-style-type: none;
}
