body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

h4 {
    font-size: 32px;
}

h3 {
    font-size: 36px;
    font-weight: 800;
}

p, input {
    font-size: 24px;
}